.wrapper,
.signals {
  display: flex;
  flex-direction: column;
}

.signals {
  align-items: center;
}

span {
  width: 70px;
  height: 70px;
  border: 1px solid black;
  border-radius: 50%;
}

.rod {
  width: 8px;
  height: 90px;
  border-radius: 0%;
  background-color: grey;
}
